<mat-toolbar color="primary">
    <span class="logo">DevStore</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/home">Inicio</button>
    <button mat-button routerLink="/aboutus">Nosotros</button>
    <button mat-button routerLink="/blog">Blog</button>
    <button mat-button routerLink="/products">Productos</button>
    <button mat-button routerLink="/store">Tienda</button>
    <button mat-button routerLink="/videos">Videos</button>
    <!-- <mat-button routerLink="/soporte">Soporte</mat-button> -->
    <span class="spacer"></span>
    <button mat-icon-button>
        <mat-icon>support</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>